@import "tailwindcss";

html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}


:root {
  /* user */
  --primary-bg-color: #FFFFFF;
  --primary-text-color: #000000;

  --secondary-bg-color: #FF591E;
  --secondary-dark-bg-color: #FF391E;

  --accent-color : #FB432C;
  --gray-color: #3F3C3C;

  --bg-muted: #928C8C;
  --surface: #D9D9D9;
  --bg-table: #f9f9f9;
  
  --bg-footer: #282828;
  
  /* dashboard */
  --bg-primary-dashboard:#F9F9FF;
  --bg-dashboard-hero: #0D1C32;

  --text-primary-dashboard: #111C2D;

  --border-primary-dashboard: #C5C6CD;

  --bg-lightblue: #00D2FF;
  --color-shape: #00D2FF;

  --secondary-bg-dashboard: #DEE8FF;

  --secondary-text-dashboard: #007f02;

  --tertiary-text-dashboard: #44474D;

  --success-dashboard: #007f02;
  --warning-dashboard: #F59E0B;
  --danger-dashboard: #FF3B30;
  --info-dashboard: #2563EB;
  --violet-dashboard: #7C3AED;

  
}
